<div class="container1">

    <div class="main">
        <img class="background-img" src="../../../assets/img/pexels-andy-vu-3244513.jpg" alt="">

        <div class="row">
            <div class="col rounded-3">
                <div class="text p-2">
                    <p class="task">todo</p>
                    <p>8 cards</p>
                </div>

                <div class="plus-img">
                    <img class="plus" src="../../../assets/icons/plus.svg" alt=""> Add a card
                </div>

            </div>

            <div class="col rounded-3">
                <div class="text p-2">
                    <p class="task">in progress</p>
                    <p>0 cards</p>
                </div>

            </div>

            <div class="col rounded-3">
                <div class="text p-2">
                    <p class="task">done</p>
                    <p>0 cards</p>
                </div>

            </div>

        </div>
    </div>

</div>