$height:600px;

.container-fluid{
    position: absolute;
    top: 35%;
    width: 100%;
    height: $height;
    background-color: rgb(190, 190, 190);

    .main{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .item{
        
            // align-items: center;
            margin: 25px;
            background-color: rgb(229, 232, 240);
            width: 350px;
            height: 550px;
            // border: 2px solid red;
            border-radius: 25px;
            font-size: 25px;
            img{
                border-radius: 25px;
            }

            .title-text{
                margin-top: 5%;
            }

            .more-info{
                width: 100%;
                height: 45px;
                // font-size: 30px;
                margin-top: 5%;

                .text-box{
                    width: 100%;
                    // background-color: rgb(255, 107, 132);
                    // border-radius: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .glow-on-hover {
                        width: 220px;
                        height: 50px;
                        border: none;
                        outline: none;
                        color: #fff;
                        background: #111;
                        cursor: pointer;
                        position: relative;
                        z-index: 0;
                        border-radius: 10px;
                    }
                    
                    .glow-on-hover:before {
                        content: '';
                        background: linear-gradient(45deg, #ff0000, #ff7300, #c3c289, #3d5733, #689089, #002bff, #7a00ff, #ff00c8, #ff0000);
                        position: absolute;
                        top: -2px;
                        left:-2px;
                        background-size: 400%;
                        z-index: -1;
                        filter: blur(5px);
                        width: calc(100% + 4px);
                        height: calc(100% + 4px);
                        animation: glowing 20s linear infinite;
                        opacity: 0;
                        transition: opacity .3s ease-in-out;
                        border-radius: 10px;
                    }
                    
                    .glow-on-hover:active {
                        color: rgb(57, 56, 103)
                    }
                    
                    .glow-on-hover:active:after {
                        background: transparent;
                    }
                    
                    .glow-on-hover:hover:before {
                        opacity: 1;
                    }
                    
                    .glow-on-hover:after {
                        z-index: -1;
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: rgb(255, 103, 103);
                        left: 0;
                        top: 0;
                        border-radius: 10px;
                    }
                    
                    @keyframes glowing {
                        0% { background-position: 0 0; }
                        50% { background-position: 400% 0; }
                        100% { background-position: 0 0; }
                    }
                }
            }
           
        }
    }

    overflow: hidden;
}






@media screen and (max-width: 2030px) {
    // $height:800px;
    .container-fluid{
        height: $height * 2;
    }
}

@media screen and (max-width:1248px) {
    // $height:800px;
    .container-fluid{
        height: $height * 3;
    }
}

@media screen and (max-width:850px) {
    // $height:800px;
    .container-fluid{
        height: $height * 5;

        .btn{
            display: flex!important;
            justify-content: center!important;
        }
    }
}