@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=Raleway&family=Roboto+Mono&family=Rubik:wght@500&display=swap');

.Prior{
    color: rgb(245, 81, 81);
}

.Low{
    color: green;
}

.Medium{
    color: blue;
}

.Hard{
    color: red;
    font-weight: bold;
}

    .main{
        width: 98%;
        margin: 25px;
        padding: 25px;
        font-size: 20px;
        font-family: 'Mukta', sans-serif;

        .row{
            width: 70%
        }

        .add-tast{
            cursor: pointer;
        }
    
        .col1{
            margin: 15px;
            height: 1000px;
            background-color: rgb(234, 219, 159);
            padding: 0px;

            .header{
                // width: 100%;
                padding: 10px;
                background-color: rgb(247, 213, 80);
                display: flex;
                justify-content: space-between;
                align-items: center!important;
            }

            .add-icon{
                .img{
                    img{
                        transform: translate(-50%,0);
                    }
                }
            }
        }

        .col2{
            margin: 15px;
            height: 1000px;
            background-color: rgb(151, 186, 205);
        }

        .col3{
            margin: 15px;
            height: 1000px;
            background-color: rgb(238, 217, 196);
        }

        .col4{
            margin: 15px;
            height: 1000px;
            background-color: rgb(205, 241, 206);
        }

        .task-item{
            background-color: white;
            padding: 10px;
            height: 106px;

            .status{
                display: flex;
                justify-content: center;
                width: 80px;
                background-color: rgb(228, 228, 228);
            }
        }
        
    }

