


    <div class="main card">
        <div class="row ">
            <div class="col border rounded-3 col1">

                <div class="header">
                    <div class="left">
                       New tasks-work request
                    </div>
                    <div class="right">
                        <img src="assets/icons/checklist-list.svg" alt="">
                    </div>
                </div>

                <div class="add-icon d-flex justify-content-center p-2">
                    <div class="tasks w-100 float-left">
                        <img src="assets/icons/task-64.png" width="50" height="50"> 2
                    </div>
                    
                    <div class="img w-100 float-left"
                        (click)="addTask()"
                        data-bs-target="#exampleModal"
                        data-bs-toggle="modal">
                        <img src="assets/icons/add-48.png" alt="">
                    </div>
                </div>

                <div class="tasks p-3">
                    <div class="task-item m-3 border rounded-3">
                        tasks
                    </div>
                    <div class="task-item m-3 border rounded-3">
                        tasks
                    </div>
                    
                </div>
                
            </div>

            <div class="col border rounded-3 col2">
                2 of 3
            </div>

            <div class="col border rounded-3 col3">
                3 of 3
            </div>

            <div class="col border rounded-3 col4">
                4 of 4
            </div>

        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" [(ngModel)]="sendData.text">
          <select class="form-select mt-2" 
                    aria-label="Default select example"
                    [(ngModel)]="sendData.status">
            <option value="Prior!">Prior!</option>
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="Hard">Hard</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" 
                data-bs-dismiss="modal"
                class="btn btn-primary" 
                (click)="saveTask()">Save changes</button>
        </div>
      </div>
    </div>
</div>