

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-xs-12 ">
                <img    src="assets/icons/goal.png" 
                        width="60"
                        height="60"
                        class="d-inline-block align-text-top">
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="lang-change">
                  lang
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="login-register">
                <div class="log-in">
                    <button class="btn  login"
                            type="button"
                            (click)="goToSignIn()">
                        <b>Log in</b>
                    </button>
                </div>
                <div class="register">
                    <button class="btn register"
                            type="button">
                        <b>Sign up</b>
                    </button>
                </div>
              </div>
            </div>
        </div>
    </div>
