

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-xs-12 ">
                <img    src="assets/icons/goal.png" 
                        width="60"
                        height="60"
                        class="d-inline-block align-text-top">
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="lang-change">
                  lang
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="login-register">
                <div class="log-in" *ngIf="isHiddenLogin">
                    <button class="btn  login"
                            type="button"
                            (click)="goToSignIn()">
                        <b>Log in</b>
                    </button>
                </div>
                <div class="register" *ngIf="isHiddenLogin">
                    <button class="btn register"
                            type="button"
                            (click)="goToSignUp()">
                        <b>Sign up</b>
                    </button>
                </div>
                <div class="Log-out" *ngIf = "isHiddenLogout">
                    <button class="btn logout"
                            type="button"
                            (click)="logout()">
                        <b>Log out</b>
                    </button>
                </div>
              </div>
            </div>
        </div>
    </div>
