.container-fluid{
    background-color: rgb(100, 111, 121);
    
    // filter: invert(0.30);

    .row{
        padding: 10px;
    }
}

.col-xs-12{
    display: flex;
    justify-content: center;

    .login-register{
        display:flex;
    }
    .login, .register{
        padding: 5px;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
        height: 50px;
        background-color: #07935f;
        color: white;
        border-radius: 25px;
        font-size: 24px;
        text-decoration: none;
        cursor: pointer;
        line-height: 1.5;
    }
}

@media (max-width: 576px) {
    .login-register{
        display: flex;
        flex-direction: column;
    }
}