<div class="main">
    <div class="forgotpassword">
        <p class="title" style="margin-bottom: 50px;">Reset your password</p>

        <div class="form">
           
            <div class="Password">
                <div style="display: flex; justify-content: space-between;">
                    <label for="email">Email</label>

                </div>
                <div>
                    <input type="text" 
                            class="form-control" 
                            aria-label="Username"
                            aria-describedby="basic-addon1"
                            [(ngModel)] = "email">
                </div>
            </div>

            <div class="log-in-button">
                <button class="button"
                        (click)="resetEmail()">
                    Reset password
                </button>
            </div>

            <div class="forgot-password"
                style="cursor: pointer;"
                [routerLink]="['/sign-in']">
                <p>Return to login</p>
            </div>
        </div>
    </div>
</div>
