

<div class="main">
    <div class="Log-in">
        <p class="title" style="margin-bottom: 50px;">Log in</p>
        <form (ngSubmit)="signIn(f.value)" #f="ngForm">
            <div class="form">
                <div class="Email">
                    <div style="display: flex; justify-content: space-between;">
                        <label for="email">Email</label>

                        <span>
                            "Need an account? "
                            <span style="color: rgb(21, 175, 21); cursor: pointer;"
                                    [routerLink]="['/sign-up']"> Sign up</span>
                        </span>
                    </div>
                    <div class="input-group input-group-lg">
                        <input type="text" 
                                class="form-control" 
                                ngModel
                                name="email"
                                aria-label="Username"
                                aria-describedby="basic-addon1"
                               >
                    </div>
                </div>

                <div class="Password">
                    <div style="display: flex; justify-content: space-between;">
                        <label for="email">Password</label>

                        <span>
                            Password
                            <span>
                                <img src="assets/icons/eye.png" width="25" height="25"> Show</span>
                        </span>
                    </div>
                    <div class="input-group input-group-lg">
                        <input type="text" 
                                ngModel
                                name="password"
                                class="form-control" 
                                aria-label="Username"
                                aria-describedby="basic-addon1"
                                >
                    </div>
                </div>

                <div class="log-in-button">
                    <button class="button"
                            type="submit">
                        Log in
                    </button>
                </div>

                <div class="forgot-password"
                    style="cursor: pointer;"
                    [routerLink]="['/forgot-password']">
                    <p>Forgot password?</p>
                </div>
            </div>
        </form>
    </div>
</div>